<button class="btn" 
	{{#title}}
	 data-original-title="{{title}}"
	 {{/title}}
	 > 

	{{#icon}}
	<i class="icon-{{icon}}"></i>
	{{/icon}}

	{{#text}}
	<span class="edui-button-label">{{text}}</span>
	{{/text}}

	{{#caret}}
	<span class="caret"></span>
	{{/caret}}
</button>