<div id="help" class="modal hide" tabindex="-1" >
        <div class="modal-header">
                <button type="button" class="close" data-hide="modal">×</button>
                <h3>{{lang_title}}</h3>
        </div>

        <div class="modal-body">
                <iframe height="100%" width="100%" frameborder="0" src="{{url}}"></iframe>
        </div>

        {{^ nook}}
        <div class="modal-footer">
        <button class="btn" data-hide="modal">{{lang_hideButton}}</button>
        <button class="btn btn-primary" data-ok="modal">{{lang_okButton}}</button>
        </div>
        {{/ nook}}

</div>