/*不可选中菜单按钮 */
.edui-modern .edui-toolbar .edui-combox-body .edui-button-body {
    width: 60px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    white-space: nowrap;
}

.edui-modern .edui-toolbar .edui-combox-body .edui-arrow {
    background:url(../images/icons.png) -1220px -7px;
    _background: url(../images/icons.gif) -1220px -7px;
    height: 20px;
    width: 9px;
}

.edui-modern .edui-toolbar .edui-combox .edui-combox-body {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    margin: 9px 3px 0 0
}

.edui-modern .edui-toolbar .edui-combox-body .edui-splitborder {
    display: none;
}

.edui-modern .edui-toolbar .edui-combox-body .edui-arrow {
    border-left: 1px solid #fff;
}

.edui-modern .edui-toolbar .edui-state-hover .edui-combox-body {
    background-color: #70768C;
    border: 1px solid #6A7085;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#72788E), to(#1F2949));
    background-image: -webkit-linear-gradient(top, #72788E, #1F2949);
    background-image: -moz-linear-gradient(top, #72788E, #1F2949);
    background-image: -o-linear-gradient(top, #72788E, #1F2949);
    background-image: linear-gradient(to bottom, #72788E, #1F2949);
    border-radius: 3px;
}

.edui-modern .edui-toolbar .edui-state-active .edui-combox-body {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    background-image: none;
}
.edui-modern .edui-toolbar .edui-state-hover .edui-combox-body .edui-arrow {
    border-left: 1px solid #6A7085;
}

.edui-modern .edui-toolbar .edui-state-checked .edui-combox-body {
    background-color: #1D2749;
    border: 1px solid #6A7085;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#72788E), to(#1F2949));
    background-image: -webkit-linear-gradient(top, #72788E, #1F2949);
    background-image: -moz-linear-gradient(top, #72788E, #1F2949);
    background-image: -o-linear-gradient(top, #72788E, #1F2949);
    background-image: linear-gradient(to bottom, #72788E, #1F2949);
    border-radius: 3px;
}

.edui-modern .edui-toolbar .edui-state-checked .edui-combox-body .edui-arrow {
    border-left: 1px solid #6A7085;
}

.edui-modern .edui-toolbar .edui-state-disabled .edui-combox-body {
    background-color: #1D2749;
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

.edui-modern .edui-toolbar .edui-state-opened .edui-combox-body {
    background-color: #1D2749;
    border: 1px solid #fff;
}