/* 弹出菜单 */
.edui-modern .edui-popup {
    z-index: 3000;
    opacity: 0.95;
}

.edui-modern .edui-popup .edui-shadow {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    -webkit-box-shadow:  0 0 10px #000;
    -moz-box-shadow:  0 0 10px #000;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius = '3', MakeShadow = 'true', ShadowOpacity = '0.5');
}

.edui-modern .edui-for-autotypeset .edui-popup-content,
.edui-modern .edui-for-forecolor .edui-popup-content,
.edui-modern .edui-for-backcolor .edui-popup-content,
.edui-modern .edui-for-insertorderedlist .edui-popup-content,
.edui-modern .edui-for-insertunorderedlist .edui-popup-content,
.edui-modern .edui-for-rowspacingtop .edui-popup-content,
.edui-modern .edui-for-rowspacingbottom .edui-popup-content,
.edui-modern .edui-for-inserttable .edui-popup-content,
.edui-modern .edui-for-lineheight .edui-popup-content{
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    background-color: #1D2749;
    padding: 5px;
    color: white;
}
.edui-modern .edui-popup-content {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #1D2749;
    padding: 5px;
    color: white;
}
.edui-modern .edui-popup .edui-bordereraser {
    background-color: #1D2749;
    height: 3px;
}

.edui-modern .edui-menu .edui-bordereraser {
    background-color: #1D2749;
    height: 3px;
}

.edui-modern .edui-anchor-topleft .edui-bordereraser {
    left: 1px;
    top: -1px;
}

.edui-modern .edui-anchor-topright .edui-bordereraser {
    right: 1px;
    top: -2px;
}

.edui-modern .edui-anchor-bottomleft .edui-bordereraser {
    left: 0;
    bottom: -6px;
    height: 7px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.edui-modern .edui-anchor-bottomright .edui-bordereraser {
    right: 0;
    bottom: -6px;
    height: 7px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
