/*splitbutton*/
.edui-modern .edui-toolbar .edui-splitbutton-body .edui-arrow,
.edui-modern .edui-toolbar .edui-menubutton-body .edui-arrow {
    background: url(../images/icons.png) -1220px -2px;
    _background: url(../images/icons.gif) -1220px -2px;
    height: 25px;
    width: 9px;
}

.edui-modern .edui-toolbar .edui-splitbutton .edui-splitbutton-body,
.edui-modern .edui-toolbar .edui-menubutton .edui-menubutton-body {
    padding: 1px;
    margin-top: 5px;
}

.edui-modern .edui-toolbar .edui-menubutton-body .edui-splitborder,
.edui-modern .edui-toolbar .edui-splitbutton-body .edui-splitborder{
    width: 1px;
    height: 29px;
}
.edui-modern .edui-toolbar .edui-splitborder {
    width: 1px;
    height: 20px;
}

.edui-modern .edui-toolbar .edui-state-hover .edui-splitborder {
    width: 1px;
    border-left: 0 solid #7E8396;
}

.edui-modern .edui-toolbar .edui-state-active .edui-splitborder {
    width: 0;
    border-left: 1px solid #fff;
}

.edui-modern .edui-toolbar .edui-state-opened .edui-splitborder {
    width: 1px;
    border: 0;
}

.edui-modern .edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body,
.edui-modern .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body {
    background-color: #70768C;
    border: 1px solid #6a7186;
    padding: 0;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#72788E), to(#1F2949));
    background-image: -webkit-linear-gradient(top, #72788E, #1F2949);
    background-image: -moz-linear-gradient(top, #72788E, #1F2949);
    background-image: -o-linear-gradient(top, #72788E, #1F2949);
    background-image: linear-gradient(to bottom, #72788E, #1F2949);
    border-radius: 3px;
}

.edui-modern .edui-toolbar .edui-splitbutton .edui-state-checked .edui-splitbutton-body,
.edui-modern .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
    background-color: #202949;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72788E), to(#1F2949));
    background-image: -webkit-linear-gradient(top, #72788E, #1F2949);
    background-image: -moz-linear-gradient(top, #72788E, #1F2949);
    background-image: -o-linear-gradient(top, #72788E, #1F2949);
    background-image: linear-gradient(to bottom, #72788E, #1F2949);
    border: 1px solid #6A7085;
    border-radius: 3px;
    padding: 0;
}

.edui-modern .edui-toolbar .edui-splitbutton .edui-state-active .edui-splitbutton-body,
.edui-modern .edui-toolbar .edui-menubutton .edui-state-active .edui-menubutton-body {
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0;
}

.edui-modern .edui-state-disabled .edui-arrow {
    opacity: 0.3;
    _filter: alpha(opacity = 30);
}

.edui-modern .edui-toolbar .edui-splitbutton .edui-state-opened .edui-splitbutton-body,
.edui-modern .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body {
    background-color: #1D2749;
    background-image: none;
    border: 1px solid #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
}

.edui-modern .edui-for-insertorderedlist .edui-bordereraser,
.edui-modern .edui-for-lineheight .edui-bordereraser,
.edui-modern .edui-for-rowspacingtop .edui-bordereraser,
.edui-modern .edui-for-rowspacingbottom .edui-bordereraser,
.edui-modern .edui-for-insertunorderedlist .edui-bordereraser {
    background-color: white;
}

/* 解决嵌套导致的图标问题 */
.edui-modern .edui-for-insertorderedlist .edui-popup-body .edui-icon,
.edui-modern .edui-for-lineheight .edui-popup-body .edui-icon,
.edui-modern .edui-for-rowspacingtop .edui-popup-body .edui-icon,
.edui-modern .edui-for-rowspacingbottom .edui-popup-body .edui-icon,
.edui-modern .edui-for-insertunorderedlist .edui-popup-body .edui-icon {
    background-image: none;
}
