/*基础UI构建
*/
/* common layer */
.edui-modern .edui-box {
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.edui-modern a.edui-box {
    display: block;
    text-decoration: none;
    color: black;
}

.edui-modern a.edui-box:hover {
    text-decoration: none;
}

.edui-modern a.edui-box:active {
    text-decoration: none;
}

.edui-modern table.edui-box {
    border-collapse: collapse;
}

.edui-modern ul.edui-box {
    list-style-type: none;
}

div.edui-box {
    position: relative;
    display: -moz-inline-box !important;
    display: inline-block !important;
    vertical-align: top;
}

.edui-modern .edui-clearfix {
    zoom: 1
}

.edui-modern .edui-clearfix:after {
    content: '\20';
    display: block;
    clear: both;
}

* html div.edui-box {
    display: inline !important;
}

*:first-child+html div.edui-box {
    display: inline !important;
}

/* control layout */
.edui-modern .edui-button-body, .edui-splitbutton-body, .edui-menubutton-body, .edui-combox-body {
    position: relative;
}

.edui-modern .edui-popup {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.edui-modern .edui-popup .edui-shadow {
    position: absolute;
    z-index: -1;
}

.edui-modern .edui-popup .edui-bordereraser {
    position: absolute;
    overflow: hidden;
}

.edui-modern .edui-tablepicker .edui-canvas {
    position: relative;
}

.edui-modern .edui-tablepicker .edui-canvas .edui-overlay {
    position: absolute;
}

.edui-modern .edui-dialog-modalmask, .edui-dialog-dragmask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.edui-modern .edui-toolbar {
    position: relative;
}

/*
 * default theme
 */
.edui-modern .edui-label {
    cursor: default;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}

.edui-modern span.edui-clickable {
    color: #39C;
    cursor: pointer;
    text-decoration: underline;
}

.edui-modern span.edui-unclickable {
    color: gray;
    cursor: default;
}