/*弹出对话框页面样式组件
*/

/*reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*module
*/
body {
    font: 12px/1.5 "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    color: #131f40
}

/*tab*/
.tabhead {
    position: relative;
    z-index: 10;
    margin-left: 16px;
}

.tabhead span {
    display: inline-block;
    position: relative;
    height: 26px;
    line-height: 26px;
    width: 87px;
    margin-left: -16px;
    text-align: center;
    cursor: pointer;
    background-image: url(images/dialog-title-bg.png);
    background-position: 0 0;
    z-index: 1
}
.tabhead span.focus {
    background-position:  0 -42px;
    top:1px;
    z-index: 100;
}

.tabbody {
    position: relative;
    top: -1px;
    margin: 0 auto;
    border: 1px solid #60739b;
    box-shadow: 3px 3px 5px #D3D6DA;
    background-color: #fff;
}

/*button*/
a.button {
    display: block;
    text-decoration: none;
    height: 27px;
    width: 96px;
    font-size: 12px;
    color: #131f40;
    line-height: 27px;
    text-align: center;
    cursor: default;
    background-image: url(images/icons-all.gif);
    background-position:0 -35px;
}

a.button:hover {
    background-position: 0 0;
}

/*滚动条*/
::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:10px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#999;
    -webkit-border-radius:5px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}