/*自动排版弹出菜单*/
.edui-default .edui-aligncellpicker .edui-aligncellpicker-body {
    width: 75px;
    font-size: 12px;
    cursor: default;
}

.edui-default .edui-aligncellpicker-body table {
    border-collapse: separate;
    border-spacing: 2px;
}
.edui-default .edui-aligncellpicker-body td{
    padding: 1px;
}
.edui-default .edui-aligncellpicker-body .edui-icon{
    height: 20px;
    width: 20px;
    padding: 1px;
    background-image: url(../images/icons.png);
    background-image: url(../images/icons.gif) \9;
}
.edui-default .edui-aligncellpicker-body .edui-left{
    background-position: -460px 0;
}
.edui-default .edui-aligncellpicker-body .edui-center{
    background-position: -420px 0;
}
.edui-default .edui-aligncellpicker-body .edui-right{
    background-position: -480px 0;
}
.edui-default .edui-aligncellpicker-body td.edui-state-hover {
    background-color: #fff5d4;
    padding: 0;
    border: 1px solid #dcac6c;
}