.edui-combobox-menu {
    text-align: left;
    text-shadow: none;
}

.edui-combobox-checkbox {
    display: inline-block;
    *zoom: 1;
    width: 25px;
    height: 20px;
    line-height: 20px;
    visibility: hidden;
}

.edui-combobox-checked {
    visibility: visible;
}