/* 可选中按钮弹出菜单*/
.edui-default .edui-menu {
    z-index: 3000;
}

.edui-default .edui-menu .edui-popup-content {
    padding: 3px;
}

.edui-default .edui-menu-body {
    _width: 150px;
    min-width: 170px;
    background: url("../images/sparator_v.png") repeat-y 25px;
}

.edui-default .edui-menuitem-body {
}

.edui-default .edui-menuitem {
    height: 20px;
    cursor: default;
    vertical-align: top;
}

.edui-default .edui-menuitem .edui-icon {
    width: 20px !important;
    height: 20px !important;
    background: url(../images/icons.png) 0 -4000px;
    background: url(../images/icons.gif) 0 -4000px\9;
}

.edui-default .edui-menuitem .edui-label {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding-left: 10px;
}

.edui-default .edui-state-checked .edui-menuitem-body {
    background: url("../images/icons-all.gif") no-repeat 6px -205px;
}

.edui-default .edui-state-disabled .edui-menuitem-label {
    color: gray;
}

