/* 弹出菜单 */
.edui-default .edui-popup {
    z-index: 3000;
}

.edui-default .edui-popup .edui-shadow {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-shadow: 3px 3px 5px #818181;
    -webkit-box-shadow: 3px 3px 5px #818181;
    -moz-box-shadow: 3px 3px 5px #818181;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius = '3', MakeShadow = 'true', ShadowOpacity = '0.5');
}

.edui-default .edui-popup-content {
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

.edui-default .edui-popup .edui-bordereraser {
    background-color: white;
    height: 3px;
}

.edui-default .edui-menu .edui-bordereraser {
    height: 3px;
}

.edui-default .edui-anchor-topleft .edui-bordereraser {
    left: 1px;
    top: -2px;
}

.edui-default .edui-anchor-topright .edui-bordereraser {
    right: 1px;
    top: -2px;
}

.edui-default .edui-anchor-bottomleft .edui-bordereraser {
    left: 0;
    bottom: -6px;
    height: 7px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.edui-default .edui-anchor-bottomright .edui-bordereraser {
    right: 0;
    bottom: -6px;
    height: 7px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
