/*分隔线*/
.edui-default .edui-toolbar .edui-separator {
    width: 2px;
    height: 20px;
    margin: 2px 4px 2px 3px;
    background: url(../images/icons.png) -180px 0;
    background: url(../images/icons.gif) -180px 0 \9;
}
