/*分隔线*/
.edui-gorgeous .edui-toolbar .edui-separator {
    width: 2px;
    height: 20px;
    margin:7px 6px 2px;
    background: url(../images/icons.png) -180px 0;
    _background: url(../images/icons.gif) -180px 0;
}
