/* 表格弹出菜单 */
.edui-gorgeous .edui-tablepicker .edui-infoarea {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    width: 220px;
    margin-bottom: 3px;
    clear: both;
}

.edui-gorgeous .edui-tablepicker .edui-infoarea .edui-label {
    float: left;
}

.edui-gorgeous .edui-dialog-buttons .edui-label {
    line-height: 27px;
}

.edui-gorgeous .edui-tablepicker .edui-infoarea .edui-clickable {
    float: right;
}

.edui-gorgeous .edui-tablepicker .edui-pickarea {
    background: url("../images/unhighlighted.gif") repeat;
    height: 220px;
    width: 220px;
}

.edui-gorgeous .edui-tablepicker .edui-pickarea .edui-overlay {
    background: url("../images/highlighted.gif") repeat;
}
