html, body, div, p, a, span, h1, h2, h3, h4, form, iframe, input, img, ul, li{margin:0; padding:0;}
body{font:12px/1.2 '宋体', 'tahoma', 'sans-serif';background-color:#fff;}
ul, li{list-style:none;}

/**container element**/
.edui-wrapper{margin-left:100px;border:1px solid #CBDFEA;}

.edui-toolbar{position:relative;height:54px;padding-top:29px;background:#E1EEFF url(images/toolbar_bg.png) repeat-x;border:1px solid #fff;cursor:default;border-radius:2px;}
.edui-statusbar{overflow: hidden;}
.edui-statusbar .edui-elementpath{float: left;}
.edui-statusbar .edui-wordcount{float: right;}
.edui-tabtoolbar{position:absolute;width:100%;padding:8px 0;background:#ECF5FB;border-top:1px solid #C8DCE8;}
.edui-tabtoolbar .edui-toolbar{margin-left:6px;padding:4px 0 4px 6px;height:auto;display:inline-block;*display:inline;*zoom:1;vertical-align:top;border:1px solid #ADC7DE;background:url(images/toolgroup_bg.png) repeat-x;}
.edui-tabtoolbar .edui-toolbar .edui-toolbar{margin:0 6px 0 0;padding:0;height:24px;border-color:#A5CAE0;border-right:none;*display:inline;*zoom:1;}
.edui-tab{position:absolute;height:23px;line-height:23px;padding:0 10px;top:-25px;background:#FAFCFF;border:1px solid #C8DCE8;border-radius:2px;}
.current{z-index:2;}
.current .edui-tab{background:url(images/toolbar_tab_bg.png);border-bottom-color:#ECF5FB;color:#006DAE;}
.edui-tabtoolbar2 .edui-tab{left:45px;}
.edui-tabtoolbar3 .edui-tab{left:90px;}
.edui-tabtoolbar4 .edui-tab{left:147px;}
.edui-editorholder{position:relative;}

.edui-seprt,
.edui-button,
.edui-arrowbutton,
.edui-selectbox{position:relative;height:24px;display:inline-block;vertical-align:top;line-height:1000px;overflow:hidden;}

.edui-arrowbutton,
.edui-button{background:url(images/tool_bg.png) repeat-x;border-left:1px solid #fff;border-right:1px solid #A6CAE4;}
.button-content,
.edui-contextmenu .edui-icon{width:22px;float:left;white-space:nowrap;background:url(images/icons.png) -1px 2px no-repeat;overflow:hidden;}

.edui-button-hover,
.edui-arrowbutton-hover{background-position:0 -25px;}

.edui-button-active,
.edui-button-checked,
.edui-arrowbutton-active,
.edui-arrowbutton-checked{background-position:0 -49px;}

.edui-arrowbutton-disabled,
.edui-button-disabled{opacity:.4;filter:alpha(opacity=40);}

.edui-source .button-content{padding:0 2px;background-position:-257px 2px;}
.edui-undo .button-content{background-position:-159px 2px;}
.edui-redo .button-content{background-position:-100px 2px;}

.edui-forecolor .button-content{background-position:-718px 2px;}
.edui-backcolor .button-content{background-position:-757px 2px;}

.edui-italic .button-content{background-position:-59px 2px;}
.edui-underline .button-content{background-position:-140px 2px;}
.edui-strikethrough .button-content{background-position:-120px 2px;}
.edui-superscript .button-content{background-position:-619px 2px;}
.edui-subscript .button-content{background-position:-600px 2px;}
.edui-pagebreak .button-content{background-position:-459px -38px;}

.edui-inserttable .button-content{background-position:-578px -18px;}

.edui-deletetable .button-content{background-position:-621px -18px;}
.edui-insertrow .button-content{background-position:-740px -18px;}
.edui-deleterow .button-content{background-position:-661px -18px;}
.edui-removeformat .button-content{background-position:-579px 2px;}
.edui-cleardoc .button-content{background-position:-519px 2px;}
.edui-selectall .button-content{background-position:-399px -18px;}

.edui-searchreplace .button-content{background-position:-519px -18px;}

.edui-fullscreen .button-content{background-position:-99px -18px;}
.edui-insertimage .button-content{background-position:-379px 2px;}
.edui-emotion .button-content{background-position:-59px -18px;}
.edui-insertvideo .button-content{background-position:-319px -18px;}
.edui-attachment .button-content{background-position:-621px -38px;}
.edui-map .button-content{background-position:-40px -38px;}
.edui-gmap .button-content{background-position:-261px -38px;}
.edui-highlightcode .button-content{background-position:-440px -38px;}
.edui-formatmatch .button-content{background-position:-40px 2px;}
.edui-pasteplain .button-content{background-position:-359px -18px;}
.edui-insertparagraphbeforetable .button-content{background-position:-140px -37px;}
.edui-insertcol .button-content{background-position:-700px -18px;}
.edui-deletecol .button-content{background-position:-640px -18px;}
.edui-mergecells .button-content{background-position:-760px -18px;}
.edui-mergeright .button-content{background-position:-60px -38px;}
.edui-mergedown .button-content{background-position:-80px -38px;}
.edui-splittocells .button-content{background-position:-800px -18px;}
.edui-splittorows .button-content{background-position:-100px -38px;}
.edui-splittocols .button-content{background-position:-120px -38px;}
.edui-link .button-content{background-position:-499px 2px;}
.edui-unlink .button-content{background-position:-640px 2px;}
.edui-insertframe .button-content{background-position:-241px -38px;}
.edui-date .button-content{background-position:-139px -18px;}
.edui-time .button-content{background-position:-160px -18px;}
.edui-horizontal .button-content{background-position:-359px 2px;}
.edui-anchor .button-content{background-position:-199px 2px;}
.edui-spechars .button-content{background-position:-240px 2px;}
.edui-blockquote .button-content{background-position:-220px 2px;}
.edui-insertorderedlist .button-content{background-position:-80px 2px;}
.edui-insertunorderedlist .button-content{background-position:-19px 2px;}
.edui-directionalityltr .button-content{background-position:-19px -17px;}
.edui-directionalityrtl .button-content{background-position:-40px -17px;}
.edui-indent .button-content{background-position:-400px 2px;}
.edui-autotypeset .button-content{background-position:-638px -38px;}
.edui-rowspacingtop .button-content{background-position:-765px -38px;}
.edui-rowspacingbottom .button-content{background-position:-745px -37px;}
.edui-lineheight .button-content{background-position:-725px -38px;}
.edui-imagenone .button-content{background-position:-480px -38px;}
.edui-imageleft .button-content{background-position:-499px -38px;}
.edui-imageright .button-content{background-position:-520px -38px;}
.edui-imagecenter .button-content{background-position:-540px -38px;}
.edui-justifyleft .button-content{background-position:-460px 2px;}
.edui-justifycenter .button-content{background-position:-420px 2px;}
.edui-justifyright .button-content{background-position:-480px 2px;}
.edui-justifyjustify .button-content{background-position:-440px 2px;}
.edui-touppercase .button-content{background-position:-783px 2px;}
.edui-tolowercase .button-content{background-position:-806px 2px;}
.edui-scrawl .button-content{background-position:-800px -38px;}
.edui-webapp .button-content{background-position:-600px -38px;}
.edui-template .button-content{background-position:-339px -37px;}
.edui-background .button-content{background-position:-680px -38px;}
.edui-snapscreen .button-content{background-position:-581px -38px;}
.edui-wordimage .button-content{background-position:-659px -38px;}
.edui-help .button-content{background-position:-340px 2px;}
.edui-print .button-content{background-position:-440px -18px;}
.edui-preview .button-content{background-position:-420px -17px;}

.edui-seprt{width:0;background-color:#fff;overflow:hidden;border-left:1px solid #A5CAE0;border-right:1px solid #fff;}

.edui-selectbox{background:#fff;line-height:24px;margin-right:3px;padding-left:4px;border:1px solid #A5CAE0;}
.edui-selectbox .button-content{width:100px;background:none;}
.edui-fontsize .button-content{width:45px;}


.edui-arrow{display:block;width:9px;height:24px;border-left:1px solid transparent;_border-left-color:#fff;background:#fff url(images/arrow.png) 0 10px no-repeat;position:absolute;right:0;overflow:hidden;}
.edui-arrow-hover{border-left-color:#C8DCE8;}

.edui-arrowbutton{width:35px;}
.edui-arrowbutton .edui-arrow{width:12px;*width:10px;background-position:3px 10px;background-color:transparent;}
.edui-arrowbutton .edui-arrow-hover{background-color:#F2EFB3;}
.edui-arrowbutton .button-content{width:24px;height:22px;}


.edui-popup{position:absolute;padding:1px;border:1px solid #ccc;background:#fff;z-index:2000;}
.edui-pop-emotion iframe{height:380px;width:514px;}
.edui-colorpicker{padding:4px;}

.edui-menuitem{padding:0 10px;line-height:22px;white-space:nowrap;}
.edui-menuitem-hover{background-color:#EFEFB1;}
.edui-fontfamily .edui-menuitem span{padding:0 4px 0 26px;display:block;background:url(images/icons-all.png) 4px -122px no-repeat;}
.edui-customstyle .edui-menuitem{line-height:25px;}

.edui-forecolor .button-content,
.edui-backcolor .button-content{display:inline-block;border-bottom:2px solid transparent;}

/**contextmenu**/
.edui-contextmenu ul{background:#fff;}
.edui-contextmenu{padding:0;width:150px;}
.edui-contextmenu .edui-menuitem{width:142px;}
.edui-contextmenu .edui-icon{display:inline-block;height:20px;*zoom:1;margin-right:4px;}
.edui-contextmenu .edui-menuitem{padding:0 4px;}
.edui-menu-selectall .edui-icon{background-position:-400px -19px;}
.edui-menu-cleardoc .edui-icon{background-position:-520px 1px;}
.edui-menu-justifyjustify .edui-icon{background-position:-440px 1px;}
.edui-menu-copy .edui-icon{background-position:-700px 1px;}
.edui-menu-paste .edui-icon{background-position:-560px 1px;}
.edui-menu-justifyleft .edui-icon{background-position:-460px 1px;}
.edui-menu-justifyright .edui-icon{background-position:-480px 1px;}
.edui-menu-justifycenter .edui-icon{background-position:-420px 1px;}
.edui-menu-edittable .edui-icon{background-position:-420px -38px;}
.edui-menu-edittd .edui-icon{background-position:-700px -38px;}
.edui-menu-table .edui-icon{background-position:-580px -19px;}

.edui-menu-deletetable .edui-icon{background-position:-620px -19px;}
.edui-menu-insertparagraphbeforetable .edui-icon{background-position:-140px -38px;}
.edui-menu-deleterow .edui-icon{background-position:-660px -19px;}
.edui-menu-deletecol .edui-icon{background-position:-640px -19px;}
.edui-menu-insertrow .edui-icon{background-position:-740px -19px;}
.edui-menu-insertcol .edui-icon{background-position:-700px -19px;}
.edui-menu-mergeright .edui-icon{background-position:-60px -39px;}
.edui-menu-mergedown .edui-icon{background-position:-80px -39px;}
.edui-menu-mergecells .edui-icon{background-position:-760px -19px;}
.edui-menu-delete .edui-icon{background-position:-360px -40px;}
.edui-menu-splittorows .edui-icon{background-position:-100px -39px;}
.edui-menu-splittocols .edui-icon{background-position:-120px -39px;}
.edui-menu-splittocells .edui-icon{background-position:-800px -19px;}
.edui-menu-unlink .edui-icon{background-position:-640px 1px;}

/*.edui-contextmenu .edui-arrow{background:url(images/icons-all.png) 0 -256px no-repeat;}*/
.edui-contextmenu .edui-arrow{background:url(images/icons-all.gif) 0 -232px no-repeat;background:url(images/icons-all.gif) 0 -236px no-repeat\9;}
.edui-menuseparator{margin:1px 0;height:1px;overflow:hidden;font-size:0;background-color:#ccc;}

.edit-tips{padding:0 8px;line-height:30px;border-color:#ADC7DE;background:#ECF5FB;}
.edui-clickable{text-decoration:underline;color:#0000CC;cursor:pointer;}

/**render effect**/

.edui-popup .item-checked{border-left:2px solid #F3E17B;}


/*fake tag*/
.edui-menu-paragraph .edui-menuitem{font-weight:600;}
.edui-tag-p{font-weight:normal;font-size: 22px;}
.edui-tag-h1{font-size: 32px;}
.edui-tag-h2{font-size: 27px;}
.edui-tag-h3{font-size: 19px;}
.edui-tag-h4{font-size: 16px;}
.edui-tag-h5{font-size: 13px;}
.edui-tag-h6{font-size: 12px;}

/* autotypeset */
.edui-autotypeset-pop table{width:330px;}
.edui-autotypeset-pop td{padding:4px 0;}

/* color picker */
.edui-colorpicker-topbar {height:27px;width: 200px;margin-top:4px;}
.edui-colorpicker-preview {height: 20px;border: 1px inset black;margin-left: 1px;width: 128px;float: left;}
.edui-colorpicker-nocolor {float:right;margin-right:1px;font-size:12px;line-height:1;height: 14px;border:1px solid #333;padding:3px 5px;cursor: pointer;}
.edui-colorpicker-tablefirstrow {height:30px;}
.edui-colorpicker-colorcell {width:14px;height:14px;display: block;cursor: pointer;}

/* tablepicker */
.edui-tablepicker .edui-infoarea {height: 14px;line-height: 14px;font-size: 12px;width: 220px;margin-bottom: 3px;clear: both;}
.edui-tablepicker .edui-infoarea .edui-label {float: left;}
.edui-dialog-buttons .edui-label{line-height: 24px;}
.edui-tablepicker .edui-infoarea .edui-clickable {float: right;}
.edui-tablepicker .edui-pickarea {background: url("images/tablepicker/unhighlighted.gif") repeat;height: 220px;width: 220px;overflow:hidden;}
.edui-tablepicker .edui-pickarea .edui-overlay {background: url("images/tablepicker/highlighted.gif") repeat;}

/* dialog */
.edui-dialog-mask{position:absolute;background:#aaa;opacity:.5;filter:alpha(opacity=50);}
.edui-dialog {position:absolute;border: 1px solid #c6c6c6;background:#fff;overflow:hidden;}
.edui-dialog-wrap{background-color:#fff;}
.edui-dialog-shadow,
.edui-shadow {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-shadow: 3px 3px 5px #818181;
    -webkit-box-shadow: 3px 3px 5px #818181;
    -moz-box-shadow: 3px 3px 5px #818181;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5')';
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5');
}
.edui-dialog-titlebar {color:#016DAE;text-indent:16px;font-weight:600;height: 29px;line-height:29px;border-bottom: 1px solid #c6c6c6;background: url(images/dialog-title-bg.png) repeat-x bottom;cursor: move;}
.edui-dialog-title{margin-left:10px;font-weight:600;}
.edui-dialog-closebutton{position: absolute;right: 0;top: 0;height: 31px;width: 33px;line-height:100px;overflow:hidden;background: url("images/icons-all.png") no-repeat 0 -58px;cursor:pointer;}
.edui-dialog-closebutton:hover{background-position:0 -91px;}
.edui-dialog-footbar{text-align:right;height: 40px;padding-right:10px;}
.edui-dialog-confirm,
.edui-dialog-cancel{display:inline-block;width:55px;height:24px;line-height:24px;margin-left:14px;text-align:center;color:#fff;zoom:1;cursor:default;background:url(images/icons-all.png) no-repeat;}
.edui-dialog-confirm-disabled{opacity:.3;filter:alpha(opacity=30);}
.edui-dialog-confirm-hover,
.edui-dialog-cancel-hover{background-position:0 -28px}

/* dialog iframe setup */
.edui-dialog-insertimage .edui-dialog-content {height: 390px;width: 640px;}
.edui-dialog-link .edui-dialog-content{width:420px;height:200px;}
.edui-dialog-background .edui-dialog-content  {width:440px;height:280px;}
.edui-dialog-template .edui-dialog-content{width:630px;height:390px;}
.edui-dialog-scrawl .edui-dialog-content{width:515px; height:360px;}
.edui-dialog-spechars .edui-dialog-content{width:620px;height:570px;}
.edui-dialog-insertimage .edui-dialog-content{width:640px;height:390px;}
.edui-dialog-webapp .edui-dialog-content  {width:560px;height:450px;}
.edui-dialog-insertframe .edui-dialog-content  { width:350px;height:200px;}
.edui-dialog-wordimage .edui-dialog-content  {width:620px;height:380px;}
.edui-dialog-attachment .edui-dialog-content  {width:480px;height:360px;}
.edui-dialog-highlightcode .edui-dialog-content  {width:550px;height:360px;}
.edui-dialog-map .edui-dialog-content  {width:550px;height:400px;}
.edui-dialog-gmap .edui-dialog-content  {width:550px;height:400px;}
.edui-dialog-insertvideo .edui-dialog-content  {width:590px;height:390px;}
.edui-dialog-anchor .edui-dialog-content  {width:320px;height:60px;}
.edui-dialog-searchreplace .edui-dialog-content  {width:400px;height:180px;}
.edui-dialog-help .edui-dialog-content  { width:400px;height:420px;}
.edui-dialog-inserttable .edui-dialog-content  {width:510px;height:275px;}
.edui-dialog-edittd .edui-dialog-content  {width:220px; height:125px;}
.edui-dialog-snapscreen .edui-dialog-content  {width:400px;height:220px;}